@font-face {
  font-family: 'FullSans-SC50Book';
  src: url("../fonts/FullSans-SC50Book.eot");
  src: url("../fonts/FullSans-SC50Book.woff2") format("woff2"), url("../fonts/FullSans-SC50Book.woff") format("woff"), url("../fonts/FullSans-SC50Book.ttf") format("truetype"), url("../fonts/FullSans-SC50Book.svg#FullSans-SC50Book") format("svg"), url("../fonts/FullSans-SC50Book.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

h3 {
  font-family: 'FullSans-SC50Book'; }
