@import 'partials/variables';
@import 'partials/font';
@import 'partials/header';
@import 'partials/home';
@import 'partials/footer';

h3 {
  font-family: 'FullSans-SC50Book';
}

.phone {
  color: #fff !important;
}
